body{
    display: flex;
}

.sidebar{
    background-image: linear-gradient(120deg, #3c72d6, #123a83);
    height: 100%;
    min-height: 100vh;
    width: 250px;
}
.logo{
    background-color: #0a2c69;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
.logo h1{
    font-size: 27px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    
}
.logo span{
    margin-left: 5px;
    color: #1898ca;
}
.menu{
    margin-top: 50px;
    display: flex;
    justify-content: start;
    margin-left: 25px;
}
.menu ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}
.menu ul li{
    display: flex;
    gap: 15px;
    cursor: pointer;
    align-items: center;
}
.menu ul li i{
    color: #85d3f1;
    font-size: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-weight: 300;
}

.active{
    background-color: #188fbe;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    color: #fff;
}
.icon{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.icon i{
    color: #fff;
    font-size: 30px;
    background-color: #188fbe;
    padding: 10px;
    border-radius: 50%;
    transition: transform ease 0.5s;
    cursor: pointer;
}
.icon i:hover{
    transform: rotateZ(45deg);
}
.bolinha{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    left: -4px;
    bottom: -4px;
    display: none;
}
